html,
body {
    height: 100%;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.gradient {
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.page-header {
    margin-top: 4rem;
    font-size: 1.2rem;
}
.feature{
    color:rgb(255, 255, 255);
}